<% content_for :page_actions do %>
  <%= button_link_to(Spree.t(:new_filter), spree.new_admin_filter_path, { class: "btn-success", icon: 'add', id: 'new_filter_link' }) if can? :create, Spree::Filter %>
<% end %>

<table class="table sortable" data-hook="filters_table">
  <thead>
    <tr data-hook="images_header">
      <th colspan="2">
        <%= Spree.t(:name) %>
      </th>
      <th colspan="2">
        <%= Spree.t(:display_name) %>
      </th>
      <th colspan="2">
        <%= Spree.t(:type) %>
      </th>
      <th class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'spree/admin/filters/filter', collection: @filters %>
  </tbody>
</table>
