<div data-hook="admin_image_form_fields" class="row">
  <div class="col-md-6">
    <div data-hook="file" class="form-group">
      <%= f.label :image, Spree.t(:filename) %>*
      <%= f.file_field :image %>
    </div>
  </div>
  <div data-hook="alt_text" class="col-md-6">
    <div class="form-group">
      <%= f.label :target_url, Spree.t(:target_url) %>
      <%= f.text_field :target_url, class: 'form-control' %>
    </div>
  </div>
  <div data-hook="type" class="col-md-12">
    <div class="form-group">
      <%= f.label :type_id, Spree.t(:type_id) %>*<br />
      <%= f.collection_radio_buttons :type_id, Spree::BannerType.all, :id, :presentation %>
    </div>
  </div>
</div>
